<?xml version='1.0' encoding='utf-8'?>
<widget id="com.gr.quixfer" version="1.0.0-beta" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Quixfer</name>
    <description>
        Hybrid App for smart locally money management of Buxfer expenses and incomes 
    </description>
    <author email="gianluca.ragnoni@gmail.com" href="https://it.linkedin.com/in/gianlucaragnoni">
        Gianluca Ragnoni
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="1000" />
    <platform name="android">
        <icon src="www/img/quixfer.png" width="57" height="57" density="mdpi" />
        <splash src="www/img/quixfer.png" width="57" height="57" density="mdpi"/>
    </platform>
    
    <feature name="Keyboard">
        <param name="android-package" value="IonicKeyboard" onload="true" />
    </feature>
    
    
</widget>
