<div class="container-fluid">
    <header>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <!-- brand section-->
                <div ng-include="'view/view-navbarBrand.html'"></div>    
                <!-- end brand section -->
                    
            </div>
        </div>
    </header>	
	<div> 
		<p class="bg-primary"> Info 
			<!-- user and loader section-->
                <div ng-include="'view/view-userHeader.html'"></div>    
            <!-- end user and loader section -->
        </p>
    </div>
		<p>Put the instructions</p>
	</div>
</div>
 