<div class="container-fluid">
	
    <header>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <!-- brand section-->
                <div ng-include="'view/view-navbarBrand.html'"></div>    
                <!-- end brand section -->
                
                <!-- tool button section -->
                <ul class="nav navbar-nav navbar-right">
                    <!--li ng-class="{disabled: addTransactionForm.$invalid}"--><li><a href="#" ng-click="addTransaction('Expense')" tooltip-placement="bottom" tooltip="Add Expense"><i class="fa fa-minus-square fa-2x"></i></a>
                    </li>
                    <!--li ng-class="{disabled: addTransactionForm.$invalid}"--><li><a href="#" ng-click="addTransaction('Income')" tooltip-placement="bottom" tooltip="Add Income"><i class="fa fa-plus-square fa-2x"></i></a>
                    </li>
                </ul>
                <!-- end tool button section -->
            </div>


        </div>
        
    </header> 
		
    
    
    <div> 
        <p class="bg-primary">  Add Transaction 
           <!-- user and loader section-->
                <div ng-include="'view/view-userHeader.html'"></div>    
           <!-- end user and loader section -->
        </p> 
    </div>
            
			
            <form name="addTransactionForm" novalidate>
            
				<div class="table">
					<table class="table">
					<tr>
						<!--td>Amount</td-->
						<td>
							<div class="input-group">
      							<div class="input-group-addon"><i class="fa fa-money"></i></div>
								<input type="number" name="amount" id="amount" placeholder="Transaction amount" ng-keypress="setFocus($event, 13, 'tag', 'input')" class="form-control" ng-model="amount"/>
							</div>
						</td>	
					</tr>
                    
                    <tr>
						<!--td> tags</td-->
						<td>
							<div class="input-group">
      							<div class="input-group-addon"><i class="fa fa-tags"></i></div>
								<tags-input name="tag" id="tag" ng-model="tagtext" ng-keypress="setFocus($event, 13, 'description')" add-on-enter="false"><auto-complete source="loadTags($query)" max-results-to-show="20" min-length="1"></auto-complete></tags-input>
							</div>
						</td>
					</tr>    
                    <tr>
                        
						<!--td>Description</td-->
						<td>
							<div class="input-group">
      							<div class="input-group-addon"><i class="fa fa-pencil"></i></div>
								<input type="text" class="form-control" placeholder="Transaction description" name="description" id="description" ng-model="description" ng-keypress="setFocus($event, 13, 'tdate')" required />
						<!--validation message-->
									<!--div ng-show="addTransactionForm.description.$invalid" class="text-warning"> Insert a transaction description! </div-->
							</div> 
						</td>

                		
					</tr>
					<tr>
						<!--td>Date</td-->
						<td>
							<div class="input-group">
								<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
								<input type="date" id="tdate" placeholder="yyyy-MM-dd" class="form-control" ng-model="transdate" ng-keypress="setFocus($event, 13, 'btnExpense')" required/>
							</div>
						</td>	
					</tr>
					<!-- button section -->
					<!--tr><!--td></td--><!--td align="right"><button type="button" class="btn btn-default btn-sm" id="btnExpense" ng-click="addTransaction('Expense')" ng-disabled="addTransactionForm.$invalid"><i class="fa fa-minus-square"></i> Expense</button> <button type="button" class="btn btn-default btn-sm" id="btnIncome" ng-click="addTransaction('Income')" ng-disabled="addTransactionForm.$invalid"><i class="fa fa-plus-square"></i> Income</button></td></tr-->
                    <!-- end buton section -->
					</table>
				</div>
			</form> 
	
	
</div>